/*
    This file contains all the theme color variables
*/

//Brand Colors

$color-primary-lighter: #98778D;
$color-primary: #724563;
$color-primary-darker: #533349;

$color-secondary-lighter: #D3B3C2;
$color-secondary: #AF7590;
$color-secondary-darker: #805669;

$color-accent: #DD695F;

//Text Colors

$color-txt-onLight: #252525;
$color-txt-onDark: #ffffff;

//Background Colors
$color-bg-default: #DBC8D1;